:root {
    --h2-color: #6c6a6a;
    --title-align: center;
    --background-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgb(147, 142, 142);
}

body {
    margin: 60px auto;
    max-width: 800px;
}

h1 {
    font-size: 96px;
    text-align: var(--title-align);
    margin-bottom: 10px;
    margin-top: 20px;
}

h2 {
    margin-top: 0px;
    color: var(--h2-color);
    text-align: var(--title-align);
}

h3 {
    text-align: var(--title-align);
    font-size: 48px;
    margin-bottom: 0px;

}


a {
    color: #6c63ff;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
}

.paragraphs {
    display: flex;
}

p {
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    background-color: var(--background-color);

}

.contact {
    display: block;
    font-size: 28px;
}

.navigation {
    display: flex;
    margin-top: 40px;
    justify-content: center;

}

.contact-link {
    padding: 10px 15px;
    margin: 10px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    background-color: #6c63ff;
    border-radius: 8px;
    color: var(--background-color);
    box-shadow: var(--box-shadow);

}

.about-link {
    padding: 20px 15px;
    margin: 10px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #6c63ff;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}